# Database Configuration
MONGODB_URL=mongodb+srv://bhavasowmi_db_user:bhavasowmi_db_user@dayflowdb.8n7ceyg.mongodb.net/?appName=dayflowdb
DB_NAME=dayflow_db

# JWT Secret
SECRET_KEY=your-secret-key-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
